<!DOCTYPE html>
<html>
<head>
    <title>html file</title>
</head>
<body>
    <h1>Form</h1>
<form action="script_url" method="post">
Name:<input type="text" name="name"><br> <br>
Password:<input type="password" name="password"> <br> <br>
<b>Coments?</b>
<textarea name="coments" rows="10" cols="10"></textarea>
<br><br>
<b>Size:</b>
<input type="radio" name="size" value="large"> large
<input type="radio" name="size" value="small"> small
<input type="radio" name="size" value="medium"> medium
<br><br>
<b>Size:</b>
<input type="checkbox" name="oh" value="large"> large
<input type="checkbox" name="oh" value="small"> small
<input type="checkbox" name="oh" value="medium"> medium
<br><br>
<b>Which is your favourite fruit:</b>
<select>
    <option value="Mangoes">Mangoes</option>
    <option value="Cherry">Cherry</option>
    <option value="Pineapple">Pineapple</option>
    <option value="Strawberry">Strawberry</option>
</select>
<br><br>
<input type="submit" name="submit" value="log in">
<input type="reset">
</body>
</form>
</html>